@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Nova+Square&family=Prompt:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: rgba(197, 122, 122, 0.24);
}

.box {
    padding: 20px;
}

.inside-box {
    padding: 20px;
}

.inside-box .Title {
    display: flex;
    align-items: center;
    justify-content: center;

}

.inside-box .image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.inside-box .image .img1 {
    width: 25%;
}

.inside-box .button {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
}




/* CSS */
.lengButton .button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lengButton .button-1:hover,
.lengButton .button-1:focus {
  background-color: #F082AC;
}


.lengButton .button-2 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.lengButton .button-2:hover {
    background-color: #F082AC;
  }